body {
  background: rgb(229, 229, 229);
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

* {
  border: 1px solid teal;
}

.container {
  padding: 2em;
  flex-grow: 1;
  gap: 2em;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.container > div {

  flex-grow: 1;
  border: 1px solid rgb(80, 80, 80);
  background-color: rgb(210, 210, 210);
  border-radius: 0.3em;
  justify-content:center;
  align-items: center;
  display:flex;
}

div.b{
  flex-grow: 2;
}

header, footer  {
  flex-grow: 1;
}

main {
  flex-grow:3;
}

.a{

  justify-content:center;
  align-items: center;
  display:flex;
}

.b{

  justify-content:center;
  align-items: center;
  display:flex;
}

.c{

  justify-content:center;
  align-items: center;
  display:flex;
}




@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  header {
    width: 100%;
  }
  div.a{
    flex: 1 1 100%;
  }
  main, footer, header {
    margin: 1em;
  }
}