body {
  background-color: rgb (229, 229, 229);
}

* {
  border: 1px solid teal;

}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  border: none;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-grow: 3;
  justify-content: space-between;
  align-items: center;
  min-height: 70vh;
  border:none;
}

header{
  
  justify-content:center;
  align-items: center;
  display:flex;
  padding-bottom: 25vh;
}

header, footer, aside, .wrapper  {
  flex-grow: 1;
  margin: .5em;
  max-height: 10vh;
}

footer{
  justify-content:center;
  align-items: center;
  display:flex;
}
aside  {
  display: flex;
  justify-content: space-between;
  width: 90%;
  min-height: 20vh;
  border: none;
  justify-content: space-between;
  margin: 6%;
  margin-bottom: 5vh;
  margin-left: .5vh;
  margin-top: .9vh;


}

aside > div {
  flex-grow: 10;
  margin: .5em;
  /* min-width: 20vh; */
}

main {
  width: 100%;
  flex-grow: 3;
  margin: .5em;
  margin-bottom: 5vh;
  margin-left: .5vh;
  margin-top: .9vh;
  justify-content:center;
  align-items: center;
  display:flex;
}

.f{

  justify-content:center;
  align-items: center;
  display:flex;
  border: none;
}

.e{

  justify-content:center;
  align-items: center;
  display:flex;
  margin-top: -4vh;
  margin-right: -4vh;
}

.d{

  justify-content:center;
  align-items: center;
  display:flex;
  margin-top: -4vh;
  
}

.c{

  justify-content:center;
  align-items: center;
  display:flex;
  margin-top: -4vh;
  margin-left: -3vh;
}

.b{

  justify-content:center;
  align-items: center;
  display:flex;
  border: none;
 
}

.a{

  justify-content:center;
  align-items: center;
  display:flex;
  border: none;
  padding-bottom: -4vh;
  padding-top:-4vh; 
}


@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    border:none;
  }
  header {
    width: 100%;
    max-height: 10vh;
  }
  .wrapper {
    justify-content: stretch;
    flex-basis: 70%;
      min-height:  80vh;
  }
  footer {
    margin: .5em;
    flex-grow: 3;
    min-height:  80vh;
  }
 
}