body {
  background: blanchedalmond;
  height: 100vh;
  margin:0;
  display: flex;
  flex-direction: column;
  font-size: 32px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.2em;
  padding: 2rem;
  flex-grow: 1;}

  *{
    border: 1px solid teal;
  }

    .c, .d, .e{
      flex-grow: 1;
    }

    .a{
      flex: 1 1 100%;
    }

    .b{
      flex-grow: 2;
      flex: 1 1 100%;
    }
    .f{
      width: 100%;
    }
